.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* ----- */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.landingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.brandTitle {
    font-family: "Krona One", sans-serif;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem;
    color: #68b790;
}
.slogan {
    font-family: "Krona One", sans-serif;
}
.landingLogoConnect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.emphaz {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
}
.descLanding {
    color: #c6c6c6;
    font-size: 16px;
    text-align: center;
    margin: 2rem;
    font-family: "Fira Code", sans-serif;
    text-transform: unset;
}

/* ----- */
.backGroundGeneral {
    background-color: #060606;
    color: #fff;
}
.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}
.tagNew {
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #656565;
    padding: 2px 15px;
    border-radius: 20px 0 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}
.cardHeader .brand {
    font-family: "Krona One", sans-serif;
    font-size: 22px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #68b790;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 2%;
}
.gauge-container {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    height: 245px;
    width: 245px;
}
.gauge {
    margin: 0 auto;
}
.gauge-score {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .score-text {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        line-height: 1;
    }
    .score-info {
        font-size: 16px;
        font-family: "Fira Code", sans-serif;
        color: #c6c6c6;
    }
}
.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 200px;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    z-index: 1;
    margin: 0 auto;
}
/* ------ */

.name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
}
.imgToken {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgToken img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
}
.tokenName {
    text-align: center;
    font-family: "Fira Code", sans-serif;
    font-size: 26px;
    margin-top: 2%;
    color: #c6c6c6;
    font-weight: 600;
    &.flipped {
        margin-top: 0;
        margin-left: 20px;
        font-size: 16px;
    }
}
.dataToken {
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #c6c6c6;
    font-weight: bold;

    li {
        width: 50%;
    }
    > li:first-child {
        border-right: 1px solid #ccc;
        padding-right: 15px;
    }
    > li:nth-child(2) {
        padding-left: 25px;
    }
    span {
        justify-content: center;
        font-family: "Fira Code", sans-serif;
    }

    .chiffres {
        font-family: "NB-Black", sans-serif;
    }
}
.titleData {
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
    color: #656565;
    font-weight: 600;
    text-transform: uppercase;
}
.percentMovement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.upOrDown {
    width: 50px;
}
.buttonsToken {
    height: 48px;
    .left {
        left: -10px;
    }
}

/* ------ */
.inputBuy {
    background: none;
    width: 70%;
    border: 2px solid #3a3a3a;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    font-family: "NB-Medium", sans-serif;
}
.buttonBuy {
    background: #68b790;
    border: 2px solid #268556;
    text-transform: uppercase;
    color: #08512d;
    border-radius: 20px;
    width: auto;
    padding: 5px 20px 5px 23px;
    transition: all 0.3s;
    font-family: "NB-Bold", sans-serif;
    letter-spacing: 2px;
    &:disabled {
        border: 2px solid #656565;
        background: #3a3a3a;
        color: #656565;
        cursor: not-allowed;
    }
}
.formBuy {
    width: 100%;
}
.wrapBuy {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
}
.swipToken {
    height: 561px;
    width: 100%;
}

.wrapperScreen {
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-swiper {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -150px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #474747;
    z-index: 2;
    background: linear-gradient(145deg, #474747, #3b3b3b);
    border: none;
    position: absolute;
    bottom: 0;
    right: -50px;
    top: 46%;
    transition: all 0.3s ease;
    &:hover {
        background: linear-gradient(145deg, #3b3b3b, #474747);
        > * {
            color: #528e70;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        border-left: 0.1px solid #666;
        transform: rotate(45deg);
    }
    > * {
        transition: all 0.3s ease;
        color: #68b790;
        font-family: "Fira Code", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
    }
    &.swiper-button-prev {
        margin-top: -40px;
    }
    &.swiper-button-next {
        margin-top: 40px;
    }
}
.swiper-slide-prev,
.swiper-slide-next {
    filter: blur(2px);
    position: relative;
}
.infoButton {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #252525;
    z-index: 2;
    background: linear-gradient(145deg, #474747, #3b3b3b);
    border: none;
    position: absolute;
    top: -20px;
    right: -10px;
    transition: all 0.3s ease;
    &:hover {
        background: linear-gradient(145deg, #3b3b3b, #474747);
        > * {
            color: #528e70;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        border-left: 0.1px solid #666;
        transform: rotate(45deg);
    }
    > * {
        transition: all 0.3s ease;
        color: #68b790;
        font-family: "Fira Code", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        border-left: 0.1px solid #666;
        transform: rotate(45deg);
    }
    > * {
        color: #68b790;
        font-family: "Fira Code", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
    }
}
.scoreDetail {
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
    color: #656565;
    span {
        color: #68b790;
        font-family: "NB-Medium", sans-serif;
    }
}
.wrapperFlip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    .block {
        border-bottom: 1px solid #656565;
        &:last-child {
            border-bottom: none;
        }
        h3 {
            text-transform: uppercase;
            font-family: "Fira Code", sans-serif;
            font-size: 12px;
            color: #c6c6c6;
        }
    }
}
.icon svg {
    margin-right: 10px;
}
.volume {
    svg.active {
        path {
            stroke: #428f4f;
        }
    }
}
.holder {
    svg.active {
        path {
            stroke: #2479dc;
        }
    }
}
.social {
    svg.active {
        path {
            stroke: #d6b749;
        }
    }
}
.supply {
    svg.active {
        circle {
            stroke: #8f52bf;
        }
    }
}
.holder2.active {
    path {
        stroke: #f394ef;
    }
}
.balance {
    font-size: 12px;
    font-family: "Fira Code", sans-serif;
    color: #c6c6c6;
    margin-right: 5px !important;
}
.solonaLogo {
    width: 10px;
    height: 13px;
}
@media all and (max-width: 1024px) {
    .nav-swiper {
        display: none !important;
    }
    .wrapperScreen {
        margin-bottom: 0 !important;
        padding: 10px !important;
    }
    .formBuy {
        margin-top: 10px !important;
    }
    .balanceWrap {
        margin-top: 5px !important;
    }
    .infoButton {
        top: -50px !important;
    }
    .gauge-container {
        height: 220px !important;
        width: 220px !important;
    }
    .score-text {
        font-size: 40px !important;
    }
    .score-info {
        font-size: 14px !important;
    }
    .tokenName {
        font-size: 20px;
    }
    .titleData {
        font-size: 14px;
    }
    .dataToken {
        font-size: 14px;
    }
    .startConnect {
        font-size: 14px !important;
    }
}
@media all and (max-width: 600px) and (min-height: 600px) and (max-height: 900px) {
    .gauge-container {
        height: 200px !important;
        width: 200px !important;
    }
    .gauge-score {
        .score-text {
            font-size: 35px !important;
        }
        .score-info {
            font-size: 12px !important;
        }
    }
    .tagNew {
        font-size: 14px;
        right: -25px;
    }
    header {
        width: 100%;
    }
    .cardHeader {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 5px;
        .brand {
            font-size: 12px;
            margin-bottom: 0;
        }
        button {
            max-width: 144px;
            overflow: hidden;
        }
    }
    .wrapBuy {
        margin-top: 5px !important;
    }
    .selectSol li {
        font-size: 12px;
    }
    .formBuy {
        width: 100%;
    }
    .inputBuy,
    .buttonBuy {
        padding: 2px 15px 2px 17px;
    }
    .wallet {
        font-size: 12px;
    }
    .balanceWrap {
        margin-top: 5px !important;
        span {
            font-size: 12px;
        }
        .balance {
            margin-right: 5px !important;
        }
    }
}
