@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Fira+Code:wght@300..700&family=Krona+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NB-Regular";
    font-display: swap;
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Regular.eot");
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Regular.woff2")
            format("woff2"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Regular.woff")
            format("woff"),
        url("/src/assets/fonts/TTF/NewBlackTypeface-Regular.ttf")
            format("truetype");
}
@font-face {
    font-family: "NB-Bold";
    font-display: swap;
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Bold.eot");
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Bold.woff2")
            format("woff2"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Bold.woff")
            format("woff"),
        url("/src/assets/fonts/TTF/NewBlackTypeface-Bold.ttf")
            format("truetype");
}
@font-face {
    font-family: "NB-Light";
    font-display: swap;
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Light.eot");
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Light.eot?#iefix")
            format("embedded-opentype"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Light.woff2")
            format("woff2"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Light.woff")
            format("woff"),
        url("/src/assets/fonts/TTF/NewBlackTypeface-Light.ttf")
            format("truetype");
}
@font-face {
    font-family: "NB-Medium";
    font-display: swap;
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Medium.eot");
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Medium.woff2")
            format("woff2"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-Medium.woff")
            format("woff"),
        url("/src/assets/fonts/TTF/NewBlackTypeface-Medium.ttf")
            format("truetype");
}
@font-face {
    font-family: "NB-ExtraBold";
    font-display: swap;
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-ExtraBold.eot");
    src: url("/src/assets/fonts/EOT/NewBlackTypeface-ExtraBold.eot?#iefix")
            format("embedded-opentype"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-ExtraBold.woff2")
            format("woff2"),
        url("/src/assets/fonts/WOFF&WOFF2/NewBlackTypeface-ExtraBold.woff")
            format("woff"),
        url("/src/assets/fonts/TTF/NewBlackTypeface-ExtraBold.ttf")
            format("truetype");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

* {
    box-sizing: border-box;
}

.centerXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #060606;
    font-family: "NB-Regular", sans-serif;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid #268556;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #68b790;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@media all and (min-width: 1024px) {
    .max-w-md {
        width: 28rem;
        max-width: 28rem;
    }
}
@media all and (max-width: 1024px) {
    .max-w-md {
        width: 26rem;
        max-width: 26rem;
    }
}
